<div ...attributes local-class="mira {{if this._jump "jump"}}" {{did-update (perform this.jumpTask) @jump}} role="presentation">
  <div local-class="body"></div>
  <div local-class="head {{this.look}}">
    <div local-class="eye left {{if this.eyesClosed "closed"}}"></div>
    <div local-class="eye right {{if this.eyesClosed "closed"}}"></div>
  </div>
</div>
<div local-class="shadow {{if this._jump "jump"}}" role="presentation"></div>