<div local-class="mira-wrapper" class={{this.classNames}} ...attributes>
  <div local-class="mira {{if this.jumpTask.isRunning "jump"}}" {{did-update (perform this.jumpTask) @jump}} role="presentation">
    <div local-class="body"></div>
    <div local-class="head {{this.look}}">
      <div local-class="eye left {{if this.eyesClosed "closed"}}"></div>
      <div local-class="eye right {{if this.eyesClosed "closed"}}"></div>
    </div>
  </div>
  <div local-class="shadow {{if this.jumpTask.isRunning "jump"}}" role="presentation"></div>
</div>