{{page-title "Colosseum"}}

<div local-class="scene" {{did-insert (perform this.dropTask)}}>
  <div local-class="queue {{if this.covid "covid"}}">
    {{#animated-each this.queue use=this.transitionQueue duration=this.duration as |miraNumber|}}
      <Mira {{on "click" (fn this.toGroup miraNumber)}} @look="center" local-class="mira" />
    {{/animated-each}}
  </div>

  <div local-class="group">
    {{#animated-each this.group use=this.transitionGroup duration=this.duration as |miraNumber index|}}
      <Mira {{on "click" (fn this.toQueue miraNumber)}} @look="center" local-class="mira {{if this.drop "drop"}}" style={{if this.drop (concat "animation-delay: calc(0.5 * " index "s);")}} />
    {{/animated-each}}
  </div>

  {{#animated-if this.showCode use=this.fade}}
    <div local-class="code">
      {{#if this.hasSnippet}}
        <CodeBlock @code={{this.currentCodeSnippet.snippet}} @language={{this.currentCodeSnippet.language}}/>
      {{/if}}
      <div local-class="code-actions actions">
        <button type="button" {{on "click" this.previous}} disabled={{eq this.step 0}}>{{fa-icon "arrow-left"}}</button>
        <button type="button" {{on "click" this.next}} disabled={{this.nextDisabled}}>{{fa-icon "arrow-right"}}</button>
      </div>
    </div>
  {{/animated-if}}

  {{#animated-if this.showFlip use=this.fade}}
    <div local-class="code flip">
      <div local-class="a">A</div>
      <div local-class="b">B</div>
      <div local-class="b-ghost">B</div>
      <ol>
        <li>Take measurements of A</li>
        <li>Render</li>
        <li>Take measurements of B (invisible)</li>
        <li>Transform B to look like A</li>
        <li>Animate</li>
      </ol>
    </div>
  {{/animated-if}}

  <div local-class="actions">
    <button type="button" {{on "click" (fn (mut this.showFlip) (not this.showFlip))}}>{{if this.showFlip "Hide flip" "Show flip"}}</button>
    <button type="button" {{on "click" (fn (mut this.showCode) (not this.showCode))}}>{{if this.showCode "Hide code" "Show code"}}</button>
    <button type="button" {{on "click" (fn (mut this.animate) (not this.animate))}} style="margin-left: auto;">{{if this.animate "Don't animate" "Animate"}}</button>
    {{#if (not this.covid)}}
      <button type="button" {{on "click" (fn (mut this.covid) true)}}>Social distancing</button>
    {{/if}}
    <button type="button" {{on "click" this.allowEntry}} disabled={{not this.queue.length}}>Allow entry</button>
    <LinkTo @route="a-day-in-rome.italy.index" class="button">To Vatican City</LinkTo>
  </div>
</div>