{{page-title "Espresso"}}

<div local-class="scene">
  <div local-class="street">
    <Mira local-class="mira {{if this.getEspresso "espresso"}}"/>
  </div>

  {{#animated-if this.showCode use=this.fade}}
    <div local-class="code">
      <CodeBlock @code={{this.css}} @language="css"/>
    </div>
  {{/animated-if}}

  <div local-class="actions">
    <button local-class="toggle-code" {{on "click" this.toggleCode}}>{{if this.showCode "Hide Code" "Show Code" }}</button>
    <button local-class="toggle" {{on "click" this.toggleEspresso}}>{{if this.getEspresso "Go Outside" "Get Espresso" }}</button>
  </div>
</div>