{{page-title "Creation"}}

<main local-class="page" {{on-key "-" this.previousStep}} {{on-key "=" this.nextStep}}>
  {{#animated-value this.currentCodeSnippet.title use=this.fade as |title|}}
    <h2 local-class="title">{{title}}</h2>
  {{/animated-value}}
  <section local-class="content">
    <AnimatedContainer @motion={{this.containerMotion}}>
      {{#animated-if this.hasSnippet use=this.snippetTransition}}
        <div local-class="code">
          <AnimatedContainer>
            {{#animated-value this.currentCodeSnippet use=this.fade duration=300 as |item|}}
              {{#if item.snippet}}
                <CodeBlock @code={{item.snippet}} @language={{item.language}}/>
              {{else if item.list}}
                <div local-class="list">
                  <ul>
                    {{#each item.list as |listItem|}}
                      <li>{{listItem}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            {{/animated-value}}
          </AnimatedContainer>
        </div>
      {{/animated-if}}
    </AnimatedContainer>
    <div local-class="mira-wrapper">
      <MiraStepped @step={{this.step}} @look={{this.look}} @jump={{this.jump}} local-class="mira"/>
      <AnimatedContainer @motion={{this.containerMotion}}>
        {{#animated-if this.showLookControls use=this.snippetTransition}}
          <LookControls @look={{this._look}} @withJump={{gte this.step 48}} @onClick={{fn (mut this._look)}} @onJump={{this.toggleJump}}/>
        {{/animated-if}}
      </AnimatedContainer>
    </div>
  </section>
</main>