{{page-title "Creation"}}


<main local-class="page" {{on-key "-" this.previousStep}} {{on-key "=" this.nextStep}}>
  <AnimatedContainer style="overflow: hidden" @duration={{500}}>
    {{#animated-value this.currentCodeSnippet use=this.transition as |snippet|}}
      {{#if snippet}}
        {{outlet}}
        <div local-class="code">
          <CodeBlock @code={{snippet}} />
        </div>
      {{/if}}
    {{/animated-value}}
  </AnimatedContainer>
  <MiraStepped @step={{this.step}} local-class="mira"/>
</main>