{{page-title "Creation"}}

<main local-class="page" {{on-key "-" this.previousStep}} {{on-key "=" this.nextStep}}>
  {{#animated-value this.currentCodeSnippet.title use=this.fade as |title|}}
    <h2 local-class="title">{{title}}</h2>
  {{/animated-value}}
  <section local-class="content">
    <AnimatedContainer style="overflow: hidden" @duration={{500}}>
      {{#animated-value this.currentCodeSnippet use=this.transition as |item|}}
        {{#if item.snippet}}
          <div local-class="code">
            <CodeBlock @code={{item.snippet}} @language={{item.language}}/>
          </div>
        {{else if item.list}}
          <div local-class="list">
            <ul>
              {{#each item.list as |listItem|}}
                <li>{{listItem}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      {{/animated-value}}
    </AnimatedContainer>
    <MiraStepped @step={{this.step}} local-class="mira"/>
  </section>
</main>